.A{display: flex;
    padding: 25px 25px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left 10px;


}
img{
    height: 650px;
    width: 650px;
}
h1{
    font-size: 55px;
}
h3{
    font-size: 30px;
    color: darkred;
}
    
p{
    font-size: 20px;
}
body{
    font-family: 'Lobster', cursive;
}
span{
    color: darkorange;
}
a{
    text-decoration:none;
    font-size: 25px;
    background-image: linear-gradient(rgb(144, 230, 7),black);
    color: whitesmoke;
    padding: 1% 2.5%;
    border-radius: 7px;
    font-size: 30px;
   margin: 10px 10px;
}
.B{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right 120px;
    padding: 25px 25px;
}

section{
    display: flex;
    padding: 25px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left 20px;

}
.D{
 border-left: solid 9px;
 padding: 25PX;
box-shadow:gray 15px 15px 15px 15px;
margin-left: 15px;
margin-right: 15px;
border-image: linear-gradient(rgb(236, 216, 37),rgb(11, 233, 85));
border-image-slice: 1;
 
}
.E{
    font-size: 55px;
    padding-left: 20px;
}

footer{
    text-align: center;
    font-size: 25px;
}